<link rel="shortcut icon" href="{{ '/assets/icons/favicon.ico'      | relative_url }}">
<link rel="icon" href="{{ '/assets/icons/favicon.ico'      | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/icons/apple-icon-180x180.png' | relative_url }}">


<!-- for my toc affix -->
<script type="module">
    document.querySelector('hy-push-state').addEventListener('load', () => {
      let tocElement = document.getElementById("markdown-toc");
  
      if(tocElement){
        let affixedDiv = document.createElement("div");
        affixedDiv.style.position = "relative";
        affixedDiv.style.top = "-1rem";
        tocElement.parentNode.insertBefore(affixedDiv, tocElement);
  
        let headerList = document.getElementsByClassName("permalink");
        if(headerList){
          let prevElement;
          window.addEventListener("scroll", () => {
            let hurdleTop = affixedDiv.getBoundingClientRect().top;
            if(hurdleTop <= 0) tocElement.classList.add("affix");
            else tocElement.classList.remove("affix");
  
            for(let i=0;i<headerList.length;i++){
              if(headerList[i].getBoundingClientRect().top >= 0){
                prevElement?.style.removeProperty("font-weight");
                prevElement?.style.removeProperty("color");
                prevElement?.style.removeProperty("border-bottom");
                let tocId = "markdown-toc-" + headerList[i].parentNode.id;
                prevElement = document.getElementById(tocId);
                prevElement.style.fontWeight = "bold";
                prevElement.style.color = '#728a6d';
                prevElement.style.borderBottom='rgba(114,138,109,0.5) dotted';
                
  
                break;
              }
            }
          });
        }
      }
    });
  </script>

<!--slick-->
<link rel="stylesheet" type="text/css" href="/assets/css/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/slick/slick-theme.css"/>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/assets/css/slick/slick.min.js"></script>

<!-- tipuesearch -->
<link rel="stylesheet" href="/assets/tipuesearch/css/tipuesearch.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/tipuesearch/tipuesearch_content.js"></script>
<script src="/assets/tipuesearch/tipuesearch_set.js"></script>
<script src="/assets/tipuesearch/tipuesearch.min.js"></script>

<style> 
    ::-webkit-scrollbar{width: 13px;}
    ::-webkit-scrollbar-track {background-color:#ffffff; border-radius: 13px;}
    ::-webkit-scrollbar-thumb {background-color:#8f998c; border-radius: 13px;}
    ::-webkit-scrollbar-thumb:hover {background: #c2e0bf;}
    ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment 
    {
        width:10px;height:10px;background:transparent;
    }
  </style>