$bg-color:#000;

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #cce9c8;
  background-color: $bg-color;
}
.highlight .err {
  color: #92addf;
  background-color: $bg-color;
  font-weight: bold;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #928374;
//   font-style: italic;
}
.highlight .cp {
  color: #a4c499;
}
.highlight .nt {
  color: #92addf;
}
.highlight .o, .highlight .ow {
  color: #cce9c8;
}
.highlight .p, .highlight .pi {
  color: #cce9c8;
}
.highlight .gi {
  color: #769287;
  background-color: $bg-color;
}
.highlight .gd {
  color: #92addf;
  background-color: $bg-color;
}
.highlight .gh {
  color: #769287;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #92addf;
}
.highlight .kc {
  color: #e5ece9;
}
.highlight .kt {
  color:#fbf1c7;
}
.highlight .kd {
  color: #c2dff0;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #769287;
//   font-style: italic;
}
.highlight .si {
  color: #769287;
//   font-style: italic;
}
.highlight .sr {
  color: #769287;
//   font-style: italic;
}
.highlight .sa {
  color: #92addf;
}
.highlight .se {
  color: #c2dff0;
}
.highlight .nn {
  color: #a4c499;
}
.highlight .nc {
  color: #a4c499;
}
.highlight .no {
  color: #e5ece9;
}
.highlight .na {
  color: #769287;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #e5ece9;
}
.highlight .ss {
  color: #83a598;
}
