{% assign post = include.post %}
{% assign format = include.format | default:site.data.date_formats.related_post | default:"%Y %m %d" %}
{% assign category = post.categories %}

{% if category[1] %}
    {% assign category = category[1] %}
    {% assign til= false %}
{% else %} 
    {% assign category = category[0] %}
    {% assign til= true %}
{% endif %}

<li class="h6">
  <div>
    <time style="display: inline-block; width: 2.2rem" class="faded fine" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:format }}</time>
    <a href="{{ post.url | relative_url }}" class="flip-title">
        <span>{{ post.title }}</span>
        <span class="my-category">
            in {{site.data.format[category]}}
        </span>
    </a>
  </div>
</li>