---
layout: page
---

<!-- {{ content }} -->
{% assign tags = site.tags | sort %}
  <!-- <ul class="related-posts">
    {% for tag in tags %}
        <li class="h6">
            <a href="/tag-{{tag[0]}}">{{ tag[0] }} ({{ tag|last|size}})</a>
        </li>
    {% endfor %}
  </ul> -->

  <div class="all-tags">
    {% for tag_info in tags %}
      {% assign tag=tag_info[0] %}
      {% if site.data.tags contains tag %}
        <span class="my-tag">
            <a href="/tag-{{tag}}">{{ site.data.format[tag] }} ({{tag_info|last|size}})</a>
        </span>
      {% endif %}
    {% endfor %}
  </div>
